@font-face {
    font-family: acknowledge;
    src: url(assets/acknowtt.ttf);
    font-weight:400;
}

@font-face {
    font-family: pixeltwist;
    src: url(assets/pixeltwist.ttf);
    font-weight:400;
}
